#trackselector
  - each track in tracks
    div
      input(type='checkbox', name=track.name, value=track.collection_name, checked=checked[track.collection_name]||false)
      label(for=track.name) #{track.name}
