#trackselector
  - each track in tracks
    div
      label(for=track.name)
        input(type='checkbox', id=track.name, name=track.name, value=track.collection_name, checked=checked[track.collection_name]||false)
        #{track.name}
