#trackselector
  - each track in tracks
    input(type='checkbox', name=track.name, value=track.collection_name, checked=checked[track.collection_name]||false)
    label(for=track.name) #{track.name}
    br
    
